https://github.com/statsbomb/open-data dataset

In [1]:
#Necessary libraries
from mplsoccer import Sbopen
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

parser = Sbopen() #To read JSON files

In [3]:
competitions = parser.competition()
competitions.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-09-28T20:46:38.893391,2025-07-06T04:26:07.636270,2025-07-06T04:26:07.636270,2024-09-28T20:46:38.893391
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-09-28T01:57:35.846538,None,None,2024-09-28T01:57:35.846538
3,16,4,Europe,Champions League,male,False,False,2018/2019,2025-05-08T15:10:50.835274,2021-06-13T16:17:31.694,None,2025-05-08T15:10:50.835274
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882

In [5]:

df_match = parser.match(competition_id=2, season_id=27) #Season 15/16 premier league
df_match.head()
match_id = df_match.iloc[0].match_id

In [6]:
df_match.columns

Index(['match_id', 'match_date', 'kick_off', 'home_score', 'away_score',
       'match_status', 'match_status_360', 'last_updated', 'last_updated_360',
       'match_week', 'competition_id', 'country_name', 'competition_name',
       'season_id', 'season_name', 'home_team_id', 'home_team_name',
       'home_team_gender', 'home_team_group', 'home_team_country_id',
       'home_team_country_name', 'home_team_managers_id',
       'home_team_managers_name', 'home_team_managers_nickname',
       'home_team_managers_dob', 'home_team_managers_country_id',
       'home_team_managers_country_name', 'away_team_id', 'away_team_name',
       'away_team_gender', 'away_team_group', 'away_team_country_id',
       'away_team_country_name', 'away_team_managers_id',
       'away_team_managers_name', 'away_team_managers_nickname',
       'away_team_managers_dob', 'away_team_managers_country_id',
       'away_team_managers_country_name', 'metadata_data_version',
       'metadata_shot_fidelity_version', 'metadata_xy_fidelity_version',
       'competition_stage_id', 'competition_stage_name', 'stadium_id',
       'stadium_name', 'stadium_country_id', 'stadium_country_name',
       'referee_id', 'referee_name', 'referee_country_id',
       'referee_country_name'],
      dtype='object')

In [7]:
shots_list = []

for match_id in df_match['match_id']:
    events, _, freeze_frame, _ = parser.event(match_id)
    shots = events[events['type_name'] == 'Shot']
    shots_list.append(shots)

all_shots = pd.concat(shots_list, ignore_index=True)

In [10]:
events, related_events, freeze_frame, tactics = parser.event(match_id=match_id)
events.head()

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,ball_recovery_offensive,shot_one_on_one,shot_first_time,substitution_replacement_id,substitution_replacement_name,pass_no_touch,foul_committed_penalty,foul_won_penalty,bad_behaviour_card_id,bad_behaviour_card_name
0,ce765197-af17-4a28-87a7-bc9ab095ac7f,1,1,00:00:00,0,0,1,0.000000,3754078,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,69092d92-156d-488c-8c49-fc4272d987db,2,1,00:00:00,0,0,1,0.000000,3754078,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,195f1f61-2719-4434-85af-5b57056eef5d,3,1,00:00:00,0,0,1,0.000000,3754078,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8b076d98-60bf-4b73-9497-a4d9f74cdb71,4,1,00:00:00,0,0,1,0.000000,3754078,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6c6394a8-2807-48d9-a365-a9a3387acf4b,5,1,00:00:00.282000,0,0,2,0.581541,3754078,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
shots = events[events['type_name'] == 'Shot']
shots.head()

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,ball_recovery_offensive,shot_one_on_one,shot_first_time,substitution_replacement_id,substitution_replacement_name,pass_no_touch,foul_committed_penalty,foul_won_penalty,bad_behaviour_card_id,bad_behaviour_card_name
233,018abfd4-ee98-402b-85d8-97a49c43b08e,233,1,00:06:42.139000,6,42,21,1.124174,3754078,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,b0f184e6-bf9c-4c5f-8f81-2c197cdf38b4,406,1,00:10:01.399000,10,1,29,1.032210,3754078,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,1aec37a9-5908-4a5a-b6f9-55ffb093fbb3,590,1,00:14:17.312000,14,17,37,0.274206,3754078,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,5485a770-f859-441a-bd51-a10d6bfb55b7,625,1,00:14:58.453000,14,58,38,0.628857,3754078,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708,fc8e7e77-fdbc-441a-b81a-59681b1fbfcd,708,1,00:17:18.495000,17,18,44,0.295331,3754078,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
shots.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'possession',
       'duration', 'match_id', 'type_id', 'type_name', 'possession_team_id',
       'possession_team_name', 'play_pattern_id', 'play_pattern_name',
       'team_id', 'team_name', 'tactics_formation', 'player_id', 'player_name',
       'position_id', 'position_name', 'pass_recipient_id',
       'pass_recipient_name', 'pass_length', 'pass_angle', 'pass_height_id',
       'pass_height_name', 'end_x', 'end_y', 'body_part_id', 'body_part_name',
       'sub_type_id', 'sub_type_name', 'x', 'y', 'under_pressure',
       'outcome_id', 'outcome_name', 'foul_committed_advantage',
       'foul_won_advantage', 'ball_recovery_recovery_failure', 'counterpress',
       'technique_id', 'technique_name', 'aerial_won', 'pass_cross',
       'pass_switch', 'off_camera', 'out', 'injury_stoppage_in_chain',
       'pass_assisted_shot_id', 'pass_shot_assist', 'shot_statsbomb_xg',
       'end_z', 'shot_key_pass_id', 'goalkeeper_position_id',
       'goalkeeper_position_name', 'foul_won_defensive', 'dribble_nutmeg',
       'shot_deflected', 'block_deflection', 'foul_committed_card_id',
       'foul_committed_card_name', 'pass_cut_back', 'pass_deflected',
       'block_offensive', 'block_save_block', 'dribble_overrun',
       'ball_recovery_offensive', 'shot_one_on_one', 'shot_first_time',
       'substitution_replacement_id', 'substitution_replacement_name',
       'pass_no_touch', 'foul_committed_penalty', 'foul_won_penalty',
       'bad_behaviour_card_id', 'bad_behaviour_card_name'],
      dtype='object')

In [25]:
filtered_shots = shots[['under_pressure','sub_type_name','body_part_name','shot_first_time','x','y','pass_deflected','shot_one_on_one','play_pattern_name','type_name','goalkeeper_position_name','technique_name']] #We select the usefull variables to manage our model and we omit the ones we don't think that are necessary

In [26]:
filtered_shots.head(15)

,under_pressure,sub_type_name,body_part_name,shot_first_time,x,y,pass_deflected,shot_one_on_one,play_pattern_name,type_name,goalkeeper_position_name,technique_name
233,1.0,Open Play,Head,NaN,114.7,31.9,NaN,NaN,From Corner,Shot,NaN,Normal
406,NaN,Open Play,Right Foot,NaN,89.6,66.2,NaN,NaN,From Free Kick,Shot,NaN,Normal
590,1.0,Open Play,Left Foot,NaN,106.0,44.8,NaN,NaN,From Free Kick,Shot,NaN,Normal
625,NaN,Open Play,Left Foot,NaN,101.6,51.7,NaN,NaN,From Free Kick,Shot,NaN,Half Volley
708,NaN,Open Play,Left Foot,NaN,92.5,52.7,NaN,NaN,From Throw In,Shot,NaN,Normal
843,NaN,Free Kick,Right Foot,NaN,101.9,15.7,NaN,NaN,From Free Kick,Shot,NaN,Normal
1060,1.0,Open Play,Head,NaN,110.4,43.0,NaN,NaN,From Throw In,Shot,NaN,Normal
1064,NaN,Open Play,Left Foot,NaN,114.1,37.9,NaN,NaN,From Throw In,Shot,NaN,Normal
1069,NaN,Open Play,Left Foot,NaN,113.1,36.8,NaN,NaN,From Throw In,Shot,NaN,Normal
1225,NaN,Open Play,Right Foot,NaN,119.0,61.3,NaN,True,Regular Play,Shot,NaN,Normal
1319,NaN,Open Play,Right Foot,NaN,96.8,28.8,NaN,NaN,From Free Kick,Shot,NaN,Normal
1338,NaN,Open Play,Right Foot,True,102.8,52.1,NaN,NaN,Regular Play,Shot,NaN,Normal
1836,NaN,Free Kick,Right Foot,NaN,97.4,24.4,NaN,NaN,From Free Kick,Shot,NaN,Normal
1842,1.0,Open Play,Left Foot,NaN,112.2,32.3,NaN,NaN,From Corner,Shot,NaN,Normal
1858,1.0,Open Play,Head,NaN,115.0,40.6,NaN,NaN,From Corner,Shot,NaN,Normal

In [27]:
#For the first model we only will use position and angle.

In [30]:
def distance(x,y):
  return np.sqrt((120-x)**2 + (40-y)**2)

filtered_shots['distance_to_goal'] = distance(filtered_shots['x'],filtered_shots['y'])

filtered_shots.head()

C:\Users\Alumne\AppData\Local\Temp\ipykernel_15076\1155185573.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_shots['distance_to_goal'] = distance(filtered_shots['x'],filtered_shots['y'])

,under_pressure,sub_type_name,body_part_name,shot_first_time,x,y,pass_deflected,shot_one_on_one,play_pattern_name,type_name,goalkeeper_position_name,technique_name,distance_to_goal,angle_to_goal
233,1.0,Open Play,Head,NaN,114.7,31.9,NaN,NaN,From Corner,Shot,NaN,Normal,9.679876,0.059223
406,NaN,Open Play,Right Foot,NaN,89.6,66.2,NaN,NaN,From Free Kick,Shot,NaN,Normal,40.132281,0.052856
590,1.0,Open Play,Left Foot,NaN,106.0,44.8,NaN,NaN,From Free Kick,Shot,NaN,Normal,14.800000,0.058583
625,NaN,Open Play,Left Foot,NaN,101.6,51.7,NaN,NaN,From Free Kick,Shot,NaN,Half Volley,21.804816,0.057225
708,NaN,Open Play,Left Foot,NaN,92.5,52.7,NaN,NaN,From Throw In,Shot,NaN,Normal,30.290923,0.059743

In [ ]:
goal_width = 7.32 #in meters
gpostx1,gposty1 = (120,40 - goal_width/2)
gpostx2,gposty2 = (120,40 + goal_width/2)
xshooter = filtered_shots['x']
yshooter = filtered_shots['y']
#calculate angles to far and near posts from shooter position
angle_post1 = np.arctan2(yshooter-gposty1, xshooter - gpostx1)
angle_post2 = np.arctan2(yshooter - gposty2, xshooter - gpostx2)
shooting_angle_rad = np.abs(angle_post2 - angle_post1)

filtered_shots['angle_to_goal'] = np.degrees(shooting_angle_rad)
filtered_shots.head()

C:\Users\Alumne\AppData\Local\Temp\ipykernel_15076\2976721711.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_shots['angle_to_goal'] = np.degrees(shooting_angle)

,under_pressure,sub_type_name,body_part_name,shot_first_time,x,y,pass_deflected,shot_one_on_one,play_pattern_name,type_name,goalkeeper_position_name,technique_name,distance_to_goal,angle_to_goal
233,1.0,Open Play,Head,NaN,114.7,31.9,NaN,NaN,From Corner,Shot,NaN,Normal,9.679876,25.785734
406,NaN,Open Play,Right Foot,NaN,89.6,66.2,NaN,NaN,From Free Kick,Shot,NaN,Normal,40.132281,7.931588
590,1.0,Open Play,Left Foot,NaN,106.0,44.8,NaN,NaN,From Free Kick,Shot,NaN,Normal,14.800000,26.488727
625,NaN,Open Play,Left Foot,NaN,101.6,51.7,NaN,NaN,From Free Kick,Shot,NaN,Half Volley,21.804816,16.251306
708,NaN,Open Play,Left Foot,NaN,92.5,52.7,NaN,NaN,From Throw In,Shot,NaN,Normal,30.290923,12.551694